@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

body{
    font-family: 'Combo', cursive; 
}

.container {
    /* border: 1px solid black; */
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    border: 1px solid black;
    text-align: center;
}

.hex-colors h1{
    font-size: 1rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h2{
    border: 1px solid black;
    font-size: 1rem;
    margin-top: 15%;
}

@keyframes colorchange {
    0%{
        color: Tomato;
    }
    20%{
        color: orange;
    }
    40%{
        color: mediumseagreen;
    }
    60%{
        color: slateblue;
    }
    80%{
        color: violet;
    }
    100%{
        color: indigo;
    }
}

@media( max-width:480px){
    .hex-colors h1{
        font-size: 1rem;
    }

    .hex-colors h2{
        font-size: 1rem;
    }
}
.btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: aqua 3px 3px 5px;
}
.btn:hover{
 background-color: rgba(120, 16, 16, 0.5)

}