@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono',monospace;
    font-size: 1rem;
    background-color: rgb(140, 246,131);
}

header {
    background-color:rgb(243, 149, 41);
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid0 lightgrey;
    border-radius: 5px;
    background-color: chocolate;
}

button:hover {
    background-color: rgba(210, 105, 30, 0.5);
}

.container{
    width: 95%;
    margin: auto;
}

#header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
}

#header button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
}

#create-box{
    display: none;
    width: 370px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: azure;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

}

#create-box textarea{
    width: 100%;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid lightgray;
    resize: none;
}

#create-box h2 {
    color: black;
    text-align: center;
}

#create-box button {
    width: fit-content;
}


.flashcards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 100%;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard{
    width: 300px;
    height: 200px;
    word-wrap: break-word;
    cursor: pointer;
    margin: 10px;
    padding: 0 10px;
    position: relative;
}



.flashcard h2{
    font-size: 1rem;
}

.fa-minus{
    top: 3%;
    right: 2%;
    position: relative;
    color: #1a1a1a;
    transition: 0.3s ease-out;
}

.fa-minus:hover {
    color: red;
}

@media(max-width:768px){
    .flashcard{
        margin: auto;
    }

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media(max-width:480px){
    #header{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }
    #create-box{
        width: 95%
    }
    .flashcard{
        width: 100%;
    }
}